.ChartArea {
  width: 95%;
  margin: 20px auto;
}

@media screen and (min-width: 614px) {
  .ChartArea {
    width: 80%;
  }
}

@media screen and (min-width: 964px) {
  .ChartArea {
    width: 80%;
    margin: 24px auto 0;
  }
}
