.checkboxArea {
  display: none;
}

@media screen and (min-width: 964px) {
  .checkboxArea {
    width: 85%;
    padding: 30px 20px;
    margin: 30px auto 0;
    height: 250px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
}
