.checkboxItem {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  gap: 0 10px;
  width: calc(25% - 10px);
}

.checkboxItem input {
  width: 20px;
  height: 20px;
}

.checkboxItem p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
