.BatchArea {
  width: 90%;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 7.5px;
  margin: 20px auto 0;
  padding: 0 0 44px;
}

@media screen and (min-width: 964px) {
  .SelectDropdownArea {
    display: none;
  }
}
